$main-color: #2C2C2C;
$blue-color: #5F7AF1;

$gold-color: #F7C423;
$light-gold-color :rgba(246, 196, 35, 0.3);

$green-color : #AAD166;
$light-green-color : rgba(169, 209, 102, 0.3);

//only use payment page
$blueS : #4EABF8;
$light-blueS : rgba(78, 171, 248, 0.3);