#email {
    .email-area {
      padding-top: 80px;
  
      .email-head-text {
        font-size: 20px;
        font-weight: 500;
      }
  
      .email-text-input {
        background: rgba(95, 122, 241, 0.1);
        opacity: 0.5;
        border-radius: 15px;
        padding: 17px 20px 17px 20px;
        margin-bottom: 10px;
        display: block;
        width: 100%;
        border: none;
        outline: none;
      }
  
      .lock {
        font-weight: 300;
        color: $gray-color;
        margin: 25px 0px;
  
        i {
          color: $gray-color;
        }
      }
      .emailBtn{
        width: 100%;
      }
    }
  }
  