* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  color: #2C2C2C;
}

.my-container {
  padding: 0px 100px;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  margin-bottom: 35px;
}

p.p-text {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 20px;
}

p.italic {
  font-style: italic;
}

.info-bottom {
  padding-bottom: 100px;
}

.info-bottom p {
  margin-bottom: 5px;
}

.info-bottom p a {
  color: #2C2C2C;
}

@media only screen and (max-width: 768px) {
  .my-container {
    padding: 0px 50px;
  }
}

@media only screen and (max-width: 480px) {
  .my-container {
    padding: 0px 30px;
  }
}

nav .my-container .nav-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 35px;
  position: relative;
}

nav .my-container .nav-area a.refresh {
  font-size: 24px;
  font-weight: 600;
  color: #2C2C2C;
}

nav .my-container .nav-area .hamburger-icon {
  position: absolute;
  right: 13px;
  top: 39px;
}

nav .my-container .nav-area .hamburger-icon i {
  font-size: 30px;
}

nav .my-container .nav-area .menu {
  position: absolute;
  width: 100%;
  top: 146px;
  text-align: center;
  font-size: 18px;
}

nav .my-container .nav-area .menu ul {
  margin-bottom: 65px;
}

nav .my-container .nav-area .menu ul li {
  margin-top: 20px;
}

nav .my-container .nav-area .menu ul li:first-child {
  margin-top: 0px;
}

nav .my-container .nav-area .menu ul li a {
  font-weight: 500;
  color: #2C2C2C;
}

nav .my-container .nav-area .menu .support-mail a {
  color: #2C2C2C;
}

.navbar-open {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: white;
}

#terms {
  padding-top: 75px;
}

#terms .my-container ol {
  list-style-type: none;
  padding: 0px;
  margin-bottom: 75px;
}

#terms .my-container ol li {
  margin-bottom: 20px;
}

#terms .my-container ol li:last-child {
  margin-bottom: 0px;
}

#privacy {
  padding-top: 75px;
}

#privacy .sub-text {
  margin-bottom: 75px;
}

#privacy .sub-text p {
  font-weight: 400;
}

#privacy .info-text {
  margin-bottom: 75px;
}

#privacy .info-text ul {
  list-style-position: inside;
  list-style-type: disc;
}

#faq {
  padding-top: 75px;
}

#faq .faqs .question {
  list-style-type: disc;
  list-style-position: inside;
  font-size: 18px;
  font-weight: 600;
}

#faq .faqs .answer {
  margin-bottom: 20px;
}

#moneyback {
  padding-top: 75px;
}

#moneyback .my-container .moneyback-text {
  margin-bottom: 75px;
}

#moneyback .my-container .moneyback-text p {
  margin-bottom: 20px;
}

#moneyback .my-container .moneyback-text p:last-child {
  margin-bottom: 0px;
}

#subscription {
  padding-top: 75px;
}

#subscription .my-container .subscription-text {
  margin-bottom: 75px;
}

#subscription .my-container .subscription-text ol {
  list-style: none;
  counter-reset: item;
  padding: 0;
  list-style-position: inside;
}

#subscription .my-container .subscription-text ol li {
  counter-increment: item;
}

#subscription .my-container .subscription-text ol li::before {
  margin-right: 10px;
  content: counters(item, ".") " ";
  display: inline-block;
}

#subscription .my-container .subscription-text ol li span {
  margin: 0px 0px 20px 0px;
}

#subscription .my-container .subscription-text ol li .inside-ol {
  font-weight: 300;
  margin: 20px 0px;
}

#quiz {
  padding-top: 55px;
}

#quiz .my-container .go-quiz {
  padding: 0px 105px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#quiz .my-container .go-quiz .go-quiz-info {
  width: 340px;
  padding-top: 105px;
}

#quiz .my-container .go-quiz .go-quiz-info h2 {
  color: #5F7AF1;
  font-weight: 600;
  font-size: 30px;
  margin-bottom: 0px;
}

#quiz .my-container .go-quiz .go-quiz-info h2 span {
  color: #2C2C2C;
  font-weight: 700;
  display: block;
}

#quiz .my-container .go-quiz .go-quiz-info .go-quiz-btn {
  background-color: #5F7AF1;
  border-radius: 15px;
  padding: 16px 0px;
  margin: 30px 0px 25px 0px;
  text-transform: uppercase;
  border: none;
  width: 313px;
  color: white;
}

#quiz .my-container .go-quiz .go-quiz-info .page-links {
  color: #9e9e9e;
  font-size: 14px;
}

#quiz .my-container .go-quiz .go-quiz-info .page-links a {
  color: #9e9e9e;
  text-decoration: underline;
}

#quiz .my-container .go-quiz .go-quiz-img {
  width: 400px;
  height: 437px;
}

#quiz .my-container .go-quiz .go-quiz-img img {
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 768px) {
  #quiz {
    padding-top: 48px;
  }
  #quiz .my-container .go-quiz {
    padding: 0px;
  }
  #quiz .my-container .go-quiz .go-quiz-info {
    padding-top: 28px;
  }
  #quiz .my-container .go-quiz .go-quiz-info h2 {
    font-size: 24px;
  }
  #quiz .my-container .go-quiz .go-quiz-info .go-quiz-btn {
    width: 252px;
  }
  #quiz .my-container .go-quiz .go-quiz-img {
    width: 258px;
    height: 281px;
  }
}

@media only screen and (max-width: 480px) {
  nav .my-container .nav-area .hamburger-icon {
    right: 4px;
  }
  #quiz {
    padding-top: 48px;
  }
  #quiz .my-container .go-quiz {
    display: block;
    position: relative;
  }
  #quiz .my-container .go-quiz .go-quiz-info h2 {
    text-align: center;
    margin-bottom: 40px;
  }
  #quiz .my-container .go-quiz .go-quiz-info .group-R {
    position: absolute;
    bottom: -200px;
  }
  #quiz .my-container .go-quiz .go-quiz-info .group-R .go-quiz-btn {
    width: 100%;
  }
  #quiz .my-container .go-quiz .go-quiz-img {
    margin: 0 auto;
    width: 229px;
    height: 249px;
  }
}
/*# sourceMappingURL=style.css.map */