@import "default";
@import "color";
@import "variables";

nav{
  z-index: 999;
  .my-container{
    .nav-area{
      display: flex;
      justify-content: space-between;
      padding-top: 35px;
      position: relative;
      a.refresh {
        font-size: 24px;
        font-weight: 600;
        color: $main-color;
      }
      .hamburger-icon{
          position: absolute;
          cursor: pointer;
          right: 13px;
          top: 39px;
        i{
          font-size: 30px;
        }
      }
      .menu{
        position: absolute;
        width: 100%;
        top: 146px;
        left: 0;
        text-align: center;
        font-size: 18px;
  
        ul{
          margin-bottom: 65px;
          li{
            margin-top: 20px;
            &:first-child {
              margin-top: 0px;        
            }
            a{
              font-weight: 500;
              color: $main-color;
            }
          }
        }
        .support-mail{
          a{
            color: $main-color;
          }
        }
      }
    }
  }
}

//open fixed menu
.navbar-open{
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: white;
}


.back{
  color: #9E9E9E;
  i{
    color: #9E9E9E;
  }
}

#terms{
  padding-top: $section-padding;
  .my-container{
    ol{
      list-style-type: none;
      padding: 0px;
      margin-bottom: 75px;        
      li{
        margin-bottom: 20px;
        &:last-child {
          margin-bottom: 0px;
        }
      }
    }
    
  }
}

#privacy{
  padding-top: $section-padding;
  .sub-text{
    margin-bottom: 75px;
    p{
      font-weight: 400;
    }
  }
  .info-text{
    margin-bottom: 75px;
    ul{
      list-style-position: inside;
      list-style-type: disc;
    }
  }
}

#faq{
  padding-top: $section-padding;
  .faqs{
    .question{
      list-style-type: disc;
      list-style-position: inside;
      font-size: 18px;
      font-weight: 600;
    }
    .answer{
      margin-bottom: 20px;
    }
  }
}

#moneyback{
  padding-top: $section-padding;
  .my-container{
    .moneyback-text{
      margin-bottom: 75px;        
      p{
        margin-bottom: 20px;
        &:last-child{
          margin-bottom: 0px;
        }
      }
  }
  }
}

#subscription{
  padding-top: $section-padding;
  .my-container{
    .subscription-text{
      margin-bottom: 75px;        
     ol{
      list-style: none;
      counter-reset: item;
      padding: 0;
      list-style-position: inside;
      li{
        counter-increment: item;
        &::before{
          margin-right: 10px;
          content: counters(item,".") " ";
          display: inline-block;
        }

        span{
          margin: 0px 0px 20px 0px;
        }
        .inside-ol{
          font-weight: 300;
          margin: 20px 0px;
        }
      }
     }
    }
  }
}

#quiz{

  .my-container{

    .quiz-area{
      padding: 25px 0px 150px 0px;
     
      .quiz-degree{
        margin: 0px 0px 25px 0px; 
        padding-top: 75px;
        .degree-same{
          background: rgba(95, 122, 241, 0.1);
          border-radius: 33px;
          position: relative;
          height: 21px;
          .degree-layout{
            background: $blue-color;
            border-radius: 33px;
            height: 21px;
            position: absolute;
            transition: width .25s linear;
            max-width: 100%;
           }
           .degree-name{
            position: absolute;
            bottom: -28px;
            color: $blue-color;
            font-weight: 300;
         }
        }
        .quiz-degree-first{
           width: 100%;
           .degree-layout{
            width: 0;
           }
        }
        .quiz-degree-second{
          width: 100%;
           .degree-layout{
            width: 0;
           }
        }
      }
      .quiz-main{
        width: 498px;
        margin: 0 auto;
        .quiz-content{
          position: relative;
          padding-top: 30px;
          .quiz-counter{
            color: $blue-color;
            position: absolute;
            top: -85px;
            right: 0px;
            font-weight: 300;
          }
  
          .quiz-question{
            font-size: 22px;
            font-weight: 500;
            margin-bottom: 15px;
          }
          .quiz-answers{
            .quiz-answer{
              background: rgba(95, 122, 241, 0.1);
              border-radius: 33px;
              padding: 18px 20px 18px 20px;
              margin-bottom: 10px;
              display: block;
              width: 100%;
              border: none;
            }
          }
  
          .quiz-img{
            margin: 0 auto;
            text-align: center;
            img{
              max-width: 100%;
              text-align: center;
              margin: 0 auto;
            }
          }
          .quiz-text{
            font-size: 22px;
            padding: 0px 0px 20px 0px;
            .smoll{
              font-size: 18px;
              font-weight: 400;
            }
          }
        
        }
      }
    }
  }
}

#go{
  .my-container{
    .go-quiz{
      padding: 55px 105px 0px 105px;
      display: flex;
      justify-content: space-between;
      .go-quiz-info{
        width: 340px;
        padding-top: 105px;
        h2{
          color: $blue-color;
          font-weight: 600;
          font-size: 30px;
          margin-bottom: 0px;
          span{
            color: $main-color;
            font-weight: 700;
            display: block;
          } 
        }
        .go-quiz-btn{
          background-color: $blue-color;
          border-radius: 15px;
          padding: 16px 0px;
          margin: 30px 0px 25px 0px;
          text-transform: uppercase;
          border: none;
          width: 313px;
          color: white;
        }
        .page-links{
          color: #9e9e9e;
          font-size: 14px;
          a{
            color: #9e9e9e;
            text-decoration: underline;
          }
        }
      }
      .go-quiz-img{
        width: 400px;
        height: 437px;
        img{
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}




#plan{
  .plan-area{
    width: 315px;
    margin: 0 auto;
    .spinner {
      margin: 94px auto 37px auto;
      font-weight: 700;
      font-size: 25px;
      color: $blue-color;
      position: relative;
      width: 180px;
      height: 180px;
      display: flex;
      align-items: center;
      justify-content: center;
      &::before{
        border: 11px solid $blue-color;
        border-radius: 50%;
        position: absolute;
        content: '';
        display: block;
        width: 140px;
        height: 140px;
        border-bottom-color: transparent;
        border-left-color: transparent;
        animation: spinner-1o3y8q 1.0499999999999998s infinite linear reverse;
      }
      &::after{
        border: 11px solid $blue-color;
        border-radius: 50%;
        position: absolute;
        content: '';
        display: block;
        animation: spinner-1o3y8q 0.7s infinite linear;
        height: 180px;
        width: 180px;
        border-right-color: transparent;
        border-top-color: transparent;
      }
      @keyframes spinner-1o3y8q {
        to {
           transform: rotate(360deg);
        }
     }
      
   }
   
  
    .create-plan{
      p{
        font-weight: 600;
        font-size: 20px;
        color: $main-color;
        margin-bottom: 40px;
      }
      ul{
        li{
          margin-bottom: 15px;
          color:#9E9E9E;
          i{
            font-size: 24px;
            display: inline-block;
            color:#9E9E9E;
            vertical-align: middle;
          }
          span{
            margin-left: 5px;
            color: #9E9E9E;
          }
        }
        li.active{
          i{
            color: $blue-color;
          }
          span{
            color: $blue-color;
          }
        }
      }
      
    }
  }

}

#email{
  .email-area{
    padding-top: 80px;
    .email-head-text{
      font-size: 20px;
      font-weight: 500;
    }
    .email-text-input{
      background: rgba(95, 122, 241, 0.1);
      opacity: 0.5;
      border-radius: 15px;
      padding: 17px 20px 17px 20px;
      margin-bottom: 10px;
      display: block;
      width: 100%;
      border: none;
      outline: none;
    }
    .lock{
      font-weight: 300;
      color: #9e9e9e;
      margin: 25px 0px;
      i{
        color: #9e9e9e;
      }
    }
  }
}

#payment{
  padding-top: 25px;
  .payment-area{
    .your-profile{
      max-width: 820px;
      margin: 0 auto;
      h2{
        font-weight: 700;
        font-size: 24px;
        color: $main-color;
        margin-bottom: 15px;
        span{
          color: $blue-color;
          margin-left: 4px;
        }
      }
      .profile-about{
        border: 3px solid  rgba(95, 122, 241, 0.1);
        margin-bottom: 45px;
        border-radius: 30px;
        padding: 20px 60px 28px 60px;
        .about{
          margin-bottom: 38px;
          .about-name{
            font-weight: 600;
            font-size: 20px;
            color: $main-color;
            margin-bottom: 6px;
          }
          .about-deegre-area{
            display: flex;
            justify-content: space-between;
            .about-deegre{
              height: 16px;
              border-radius: 9px;
              width: 100%;
              position: relative;
              .about-deegre-layout{
                  position:absolute;
                  height: 16px;
                  border-radius: 9px;
                  .cricle{
                    width: 24px;
                    height: 24px;
                    border-radius: 12px;
                    background-color: #fff;
                    position: absolute;
                    right: 0;
                    top: -4px;
                  }
              }
            }
            .status{
              font-size: 14px;
              font-weight: 600;
              width: 90px;
              text-align: right;
              line-height: 16px;
              margin-bottom: 14px
            }
          }
          .about-gold{
            display: none;
          }
          .about-info{
            font-weight: 300;
          }
        }
        .about:last-child{
        margin-bottom: 0px;
        }
        .about-gold{
          .about-deegre-area{
            .about-deegre{
              background-color: $light-gold-color;
              .about-deegre-layout{
                background-color: $gold-color;
                width: 88%;
                .cricle{
                  border: 1px solid $gold-color;
                }
              }
            }
            .status{
              color: $gold-color;
            }
          }
        }
        .about-green{
          .about-deegre-area{
            .about-deegre{
              background-color: $light-green-color;
              .about-deegre-layout{
                background-color: $green-color;
                width: 38%;
                .cricle{
                  border: 1px solid $green-color;
                }
              }
            }
            .status{
              color: $green-color;
            }
          }
        }
        .about-blue{
          .about-deegre-area{
            .about-deegre{
                background-color: $light-blueS;
              .about-deegre-layout{
                background-color: $blueS;
                width: 65%;
                .cricle{
                  border: 1px solid $blueS;
                }
              }
            }
            .status{
              color: $blueS;
            }
          }
        }
      }
    }
  }
}


@media only screen and (max-width:768px){
  #quiz{
    .my-container{
      .quiz-area{
        .quiz-main{
          width: 372px;
          .quiz-degree{
            padding-top: 41px;
          }
          .quiz-content{
            .quiz-question{
              font-size: 20px;
            }
          }
        }
      }
    }
  }

  #go{
    .my-container{
      .go-quiz{
        padding: 48px 0px 0px 0px;
        .go-quiz-info{
          padding-top: 28px;
          h2{
            font-size: 24px;
          }
          .go-quiz-btn{
            width: 252px;
          }
        }
        .go-quiz-img{
          width: 258px;
          height: 281px;
        }
      }
    }
  }

}


@media only screen and (max-width:480px){

  #quiz{
    .my-container{
      .quiz-area{
        .quiz-main{
          width: 100%;
          .quiz-degree{
            padding-top: 48px;
            font-size: 14px;
  
          }
            .quiz-content{
              padding-top: 20px;
              .quiz-question{
                font-size: 18px;
              }
              .quiz-counter{
                font-size: 14px;
              }
              .quiz-text{
                font-size: 17px;
              }
          }
        }
      }
    }
  }

  #go {
    .my-container{
      .go-quiz{
        padding-top: 48px;
        display: block;
        position: relative;
        .go-quiz-info{
          width: 100%;
          h2{
            text-align: center;
            margin-bottom: 40px ;
          }
          .group-R{
            position: absolute;
            bottom: -200px;
            .go-quiz-btn{
              width: 100%;
            }
          }
        }
        .go-quiz-img{
          margin: 0 auto;
          width: 229px;
          height: 249px;
        }
      }
    }
  }
}