@import "default";
@import "color";
@import "variables";

nav{
  .my-container{
    .nav-area{
      display: flex;
      justify-content: space-between;
      padding-top: 35px;
      position: relative;
      a.refresh {
        font-size: 24px;
        font-weight: 600;
        color: $main-color;
      }
      .hamburger-icon{
          position: absolute;
          right: 13px;
          top: 39px;
        i{
          font-size: 30px;
        }
      }
      .menu{
        position: absolute;
        width: 100%;
        top: 146px;
        text-align: center;
        font-size: 18px;
  
        ul{
          margin-bottom: 65px;
          li{
            margin-top: 20px;
            &:first-child {
              margin-top: 0px;        
            }
            a{
              font-weight: 500;
              color: $main-color;
            }
          }
        }
        .support-mail{
          a{
            color: $main-color;
          }
        }
      }
    }
  }
}

//open fixed menu
.navbar-open{
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: white;
}

#terms{
  padding-top: $section-padding;
  .my-container{
    ol{
      list-style-type: none;
      padding: 0px;
      margin-bottom: 75px;        
      li{
        margin-bottom: 20px;
        &:last-child {
          margin-bottom: 0px;
        }
      }
    }
    
  }
}

#privacy{
  padding-top: $section-padding;
  .sub-text{
    margin-bottom: 75px;
    p{
      font-weight: 400;
    }
  }
  .info-text{
    margin-bottom: 75px;
    ul{
      list-style-position: inside;
      list-style-type: disc;
    }
  }
}

#faq{
  padding-top: $section-padding;
  .faqs{
    .question{
      list-style-type: disc;
      list-style-position: inside;
      font-size: 18px;
      font-weight: 600;
    }
    .answer{
      margin-bottom: 20px;
    }
  }
}

#moneyback{
  padding-top: $section-padding;
  .my-container{
    .moneyback-text{
      margin-bottom: 75px;        
      p{
        margin-bottom: 20px;
        &:last-child{
          margin-bottom: 0px;
        }
      }
  }
  }
}

#subscription{
  padding-top: $section-padding;
  .my-container{
    .subscription-text{
      margin-bottom: 75px;        
     ol{
      list-style: none;
      counter-reset: item;
      padding: 0;
      list-style-position: inside;
      li{
        counter-increment: item;
        &::before{
          margin-right: 10px;
          content: counters(item,".") " ";
          display: inline-block;
        }

        span{
          margin: 0px 0px 20px 0px;
        }
        .inside-ol{
          font-weight: 300;
          margin: 20px 0px;
        }
      }
     }
    }
  }
}

#quiz{
  padding-top: 55px;
  .my-container{
    .go-quiz{
      padding: 0px 105px;
      display: flex;
      justify-content: space-between;
      .go-quiz-info{
        width: 340px;
        padding-top: 105px;
        h2{
          color: #5F7AF1;
          font-weight: 600;
          font-size: 30px;
          margin-bottom: 0px;
          span{
            color: $main-color;
            font-weight: 700;
            display: block;
          } 
        }
        .go-quiz-btn{
          background-color: #5F7AF1;
          border-radius: 15px;
          padding: 16px 0px;
          margin: 30px 0px 25px 0px;
          text-transform: uppercase;
          border: none;
          width: 313px;
          color: white;
        }
        .page-links{
          color: #9e9e9e;
          font-size: 14px;
          a{
            color: #9e9e9e;
            text-decoration: underline;
          }
        }
      }
      .go-quiz-img{
        width: 400px;
        height: 437px;
        img{
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

@media only screen and (max-width:768px){
  #quiz{
    padding-top: 48px;  
    .my-container{
      .go-quiz{
        padding: 0px;
        .go-quiz-info{
          padding-top: 28px;
          h2{
            font-size: 24px;
          }
          .go-quiz-btn{
            width: 252px;
          }
        }
        .go-quiz-img{
          width: 258px;
          height: 281px;
        }
      }
    }
  }
}


@media only screen and (max-width:480px){
  nav{
    .my-container{
      .nav-area{
        .hamburger-icon{
          right: 4px;
        }
      }
    }
  }

  #quiz{
    padding-top: 48px;  
    .my-container{
      .go-quiz{
        display: block;
        position: relative;
        .go-quiz-info{
          h2{
            text-align: center;
            margin-bottom: 40px;
          }
          .group-R{
            position: absolute;
            bottom: -200px;
            .go-quiz-btn{
              width: 100%;
            }
          }
        }
        .go-quiz-img{
          margin: 0 auto;
          width: 229px;
          height: 249px;
        }
      }
    }
  }
}